

.shopping-list , .archived-shopping-list{
	position: relative;
	float:left;
	clear:both;
	width:100%;
	height:50px;
	border-bottom: 1px solid #35404f;
}


.shopping-list-title span.shopping-cart-icon{
	line-height:50px;
}

.shopping-list-title span.shopping-cart-name {
	line-height:50px;
	margin-left: 5px;
}


.counter-badge{
	margin-top: 14px;
	padding: 3px 6px 3px 6px;
	margin-right: 10px;
}


.list-header{
	height: 50px;
	line-height: 50px;
}

.list-header-title{
	padding-left: 15px;
}

#add-shopping-list{
	line-height: 50px;
	margin-top:0px;
}