/* CSS Document */
#user-information{
	display:block;
}

#main-menu{
	display:block;
	float:left;
	margin-left: 15px;

}

#main-menu-items{
	height:50px;
	display:block;
	list-style: none;
	padding: 0px;	
	margin:0px;
}

.main-menu-item{
	height:50px;
	display:block;
	float:left;
}

.main-menu-item-link{
	color:#FFFFFF;
	width:100%;
	height:50px;
	line-height:50px;
	padding-left: 5px;	
	padding-right: 5px;	
}

.main-menu-item:hover{
	background-color: #4aaaa5;
}

.shopping-list , .archived-shopping-list{
	float:left;
	width:150px;
	height:150px;
	margin: 10px;
}

#shopping-items{
	margin-bottom: 15px;
}

.shopping-list-title{
	width: 148px;
	height: 110px;
	padding: 5px;
	font-size: 16px;
}

.shopping-list-title span.shopping-cart-name {
	width:120px;
	float:left;
	left:-25px;			
	position: relative;
	height: 110;
}

.shopping-list-title span.shopping-cart-icon {
	float:inherit;
	margin-top: 115px;
}

.counter-badge{
	font-size: 12px;
	padding: 3px 5px 3px 5px;
	margin-right: 10px;

}

.list-header{
	float:left;
	height: 40px;
	line-height:40px;
}

.list-header-title{
	padding-left: 15px;
}

#content-area{
	max-width: 700px;
	margin-left:auto;
	margin-right:auto;
	float:none;
	
}

#add-shopping-list{
	float:left;
	clear:none;
	width:148px;
	height:148px;
	margin: 10px;
	border: 1px solid #35404f;
	line-height: 148px;
	
}
#add-cart-icon{
	line-hight: 148px;
	height: 148px;
}

.shopping-item{
	border-left: 1px solid #4aaaa5;
	border-right: 1px solid #4aaaa5;
}

.add-shopping-item{
	border-left: 1px solid #35404f;
	border-right: 1px solid #35404f;
	border-top: 1px solid #35404f;
	margin-top: -1px;
	display:block;
}